services:
  flagd-ui:
    build:
      context: .
      dockerfile: Dockerfile
    image: flagd-ui:local
    ports:
      # Attention: This exposes the UI to the network, which is unsecure! 
      - '0.0.0.0:3000:3000'
    volumes:
      - ./flags:/app/flags

  flagd:
    image: ghcr.io/open-feature/flagd:latest
    volumes:
      - ./flags:/flags
    command: [ 'start', '--uri', 'file:./flags/demo.flagd.json' ]
    ports:
      - '8013:8013'
    depends_on:
      - flagd-ui
