<div class="edit-page-container">
  <div class="edit-page-workspace">
    <div class="edit-page-content">
      <app-flag-editor
        [inline]="true"
        [allowMaximize]="true"
        [maximizeIcon]="'close_fullscreen'"
        [maximizeTitle]="'Return to detail view'"
        [flag]="editingDisplayFlag()"
        [existingKeys]="existingFlagKeys()"
        [showMetadata]="true"
        (maximize)="onUnexpand()"
        (save)="onSaveFlag($event)"
        (cancelled)="onCancel()"
      />
    </div>
  </div>
</div>
